/** @format */

body {
	width: 1000px;
	margin: 0;
	padding: 0%;
}

.container-background-div {
	display: flex;
	flex-direction: column;
	width: max-content;
	height: max-content;
	background-color: black;
	text-align: center;
	align-content: center;
	align-items: center;
	padding: 5px;
	position: relative;
	top: 3rem;
	left: 3rem;
}

input {
	text-align: right;
	height: 2rem;
	width: 11.7rem;
	border: none;
	background-color: #000;
	color: #fff;
}
.numbers__and__belgilar {
	width: max-content;
	height: max-content;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	background-color: rgb(91, 78, 78);
	color: antiquewhite;
	text-align: center;
	padding: 0.5em;
}

.item {
	margin: 2px;
	background-color: darkslategrey;
	width: 2.5rem;
	height: 2rem;
	cursor: pointer;
	padding-top: 10px;
}
.item:last-child {
	background-color: red;

	/* grid-column: 1/3; */
}

.gridflow {
	/* grid-column: 1/3; */
	background-color: blue;
}
